*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container
{
    height: 700px;
    width: 100%;
    background-color:rgb(216, 191, 191);
   
}
#footer
{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
ul
{
    margin-top: 100px;
    list-style-type: none;
    line-height: 2;
}
img{
    height: 60px;
    width: 170px;
}
p{
    font-weight: bold;
}

hr{
    margin-top: 30px;
    border: 1px solid brown;
}